*{
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
}

.containerResults {
    width: 80%;
}

#resultsJumbotron {
    background: linear-gradient(45deg, rgb(77, 182, 172, 1), rgb(77, 182, 172, 0.8));
    margin-bottom: 20px;
}

.resultsTitleHead {
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0;
}

#resultsHeaderRow {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.resultsInputRow{
    border:1px,white,solid;
    border-radius: 15px;
    margin: 0;
}

::placeholder{
    color: black;
    opacity: .7;
}

/* #searchButton{
    height: 36px;
    width: 105px;
    border-radius: 15px;
    text-align: center;
    background: #f44336;
    float: right;
} */

#results-autocomplete-input {
    border: none;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    font-size: 15px;
}

#resultsSearchIcon {
    color: #4db6ac;
     /* color: #f44336; */
     padding: 0;
     margin: 0;
}

#resultsSearchInput {
     margin: 0 auto;
     height: 30px;
}

/* #searchButtonCol {
    margin-top: 4px;
    padding: 0;
} */

/* DELETE THIS CLASS WHEN THE MAP IS ADDED!!!!!! */
#resultsPlaceholderImg {
    margin-right: 0;
    padding: 0;
}