#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(style.css) no-repeat;
    background-size: cover;
}

h1,p{
    font-family: 'Playfair Display', serif;
}

.input-field{
    border-radius: 10px;
}
::placeholder{
    color: black;
    opacity: .7;
}

#searchButton{
    height: 100%;
    margin: auto;
}