
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(style.css) no-repeat;
    background-size: cover;
}
.container{
    background: white;
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 8px black;
}
h1,p{
    font-family: 'Playfair Display', serif;
}