*{
    box-sizing: border-box;
}


#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(style.css) no-repeat;
    background-size: cover;
}

#jumbotron {
    background: linear-gradient(45deg, rgb(244,67,54, 1), rgb(244,67,54, 0.8));
    margin-bottom: 20px;
}

.titleHead {
    color: white;
    text-align: center;
}

h1,p{
    font-family: 'Playfair Display', serif;
}
.inputrow{
    border:1px,white,solid;
    border-radius: 15px;
    padding: 9px 10px;
}

::placeholder{
    color: black;
    opacity: .7;
}

#searchButton{
    height: 36px;
    width: 105px;
    border-radius: 15px;
    text-align: center;
    background: #f44336;
    float: right;
}
.buyButton{
    border-radius: 15px;
}

#autocomplete-input {
    border: none;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    font-size: 20px;
}

 #searchIcon{
     color: #f44336;
     padding: 0;
     margin: 0;
 }

#searchInput {
     margin: 0 auto;
 }

 #searchButtonCol {
    margin-top: 4px;
    padding: 0;
}
